/* General */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.topbar {
  z-index: 999 !important;
}

.overlay {
  position: relative;
  z-index: 40;
}

.invisible {
  position: absolute;
  width: 0;
  height: 0;
}

#selectable {
  cursor: pointer;
}

.card-left {
  border-left: 10px solid #b8b8b8;
}

.gradient-text {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(rgb(35, 136, 114), rgb(1, 60, 150));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark * .card-left {
  border-left: 10px solid #1b1f1c;
}

.dark * .gradient-text {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(rgb(48, 190, 160), rgb(6, 104, 250));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Dark Mode */

:root {
  --alwaysLight: #f6f6f6;
  --light: #f6f6f6;
  --dark: #2c2c2c;
}

.dark-mode {
  cursor: pointer;
  position: fixed;
  bottom: 2%;
  right: 1%;
  z-index: 999999 !important;
}

.dark-mode .dark-mode {
  background-color: var(--light);
  border: none;
  border-radius: 50%;
  color: var(--dark);
  padding: 15px 15px;
  text-align: center;
  display: inline-block;
}

@media only screen and (min-width: 1024px) and (max-width: 1919px) {
  .dark-mode {
    bottom: 2%;
    right: -2%;
    z-index: 10;

    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  .dark-mode:hover {
    transition-timing-function: ease-out;
    transform: translateX(-20px);
  }

  .dark-mode i {
    transform: scaleX(-1);
  }
}

@media screen and (min-width: 1920px) {
  .dark-mode {
    bottom: 2%;
    right: -1.25%;
    z-index: 10;

    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  .dark-mode:hover {
    transition-timing-function: ease-out;
    transform: translateX(-20px);
  }

  .dark-mode i {
    transform: scaleX(-1);
  }
}

@media (prefers-reduced-motion) {
  .dark-mode {
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
  }
}

@media (prefers-color-scheme: dark) {
  .dark-mode .dark-mode {
    background-color: var(--dark);
    color: var(--light);
  }
}
